<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cust.dao.UserMapper">
    <select id="selectUser" parameterType="java.util.Map" resultType="java.util.Map">
        select * from user where username=#{username} and password=#{password}
    </select>

    <insert id="insertUserInfo" parameterType="java.util.Map">
        insert into user (nikename, gender, province, city, country, openid) values (#{nikename},#{gender},#{province},#{city},#{country},#{openid})
    </insert>
</mapper>